extends layouts/index

block variables
  include ../data/data.pug


block content

  .container-w1000 
    .courses
      .courses__list
        .courses__item
          +card-course({
            img: '/img/Rectangle2',
            title: 'Юриспруденция',
          })

        .courses__item
          +card-course({
            img: '/img/Rectangle3',
            title: 'Машиностроение',
          })

        .courses__item
          +card-course({
            img: '/img/Rectangle4',
            title: 'Энергетика',
          })

  .container-w1000 
    .courses-sub
      .courses-sub__list
        .courses-sub__item: +card-subcourse({
          img: '/img/Rectangle5',
          title: 'Юрист в сфере здравохранения',
          })
        .courses-sub__item: +card-subcourse({
          img: '/img/Rectangle6',
          title: 'Юрист по земельному праву',
          })

  .container-w1000 
    .course-detail
      .course-detail__image
        picture
          source(srcset="/img/Rectangle5.webp" type="image/webp" )
          img(src="/img/Rectangle5.jpg")
      .course-detail__calculate
        .drag_block.order
          table.order-block
            tbody
              tr
                td.text_wrap.col-md-9.col-sm-8.col-xs-7.valign
                  .text
                    |  Рассчитать стоимость обучения  
                    br
                    |  Стоимость рассчитывается исходя от количества человек заявленных на обучение*
                td.col-md-3.col-sm-4.col-xs-5.valign
                  .btns
                    span
                      span.btn.btn-default.btn-lg.animate-load.order(data-event='jqm', data-param-id='18', data-name='order_services', data-autoload-service='Машинист копра копровщик', data-autoload-project='Машинист копра копровщик')
                        span Рассчитать стоимость обучения в Екатеринбурге 
      .course-detail__fulltext
        .course-detail__qa
          .course-qa
            .course-qa__title Тип образования:
            .course-qa__text Профессиональная переподготовка
          .course-qa
            .course-qa__title Форма обучения:
            .course-qa__text Заочная с применением дистанционных образовательных технологий
          .course-qa
            .course-qa__title Тип документа:
            .course-qa__text Диплом
          .course-qa
            .course-qa__title Условия оплаты:
            .course-qa__text предоплата, возможна рассрочка платежей и оплата материнским капиталом
        .course-detail__prop
          .course-prop
            .course-prop__icon
              picture
                img(src="/img/svg/ic_people.svg")
            .course-prop__title Ближайший набор:
            .course-prop__text 
              span февраль 2022, март 2022
          .course-prop
            .course-prop__icon
              picture
                img(src="/img/svg/ic_calc.svg")
            .course-prop__title Длительность обучения:
            .course-prop__text 
              span 4 месяца (540 часов)
          .course-prop
            .course-prop__icon
              picture
                img(src="/img/svg/ic_voice.svg")
            .course-prop__title Средняя зарплата:
            .course-prop__text 
              span 55 000 ₽/месяц
              small По данным hh.ru на 2021 год
          .course-prop
            .course-prop__icon
              picture
                img(src="/img/svg/ic_cost.svg")
            .course-prop__title Стоимость обучения:
            .course-prop__text  
              span.cost от 18 600 р.
                s 39 900 р.
              small.sale Скидка 51%



mixin card-course(data)
  .card-course
    .card-course__wrp
      .card-course__image
        a(href='#')
          picture
            source(srcset=data.img+".webp" type="image/webp" )
            img(src=data.img+".jpg")
      .card-course__title
        a(href='#')=data.title
      .card-course__desc
        span  Курсы включают в себя такие направления как:
      .card-course__list
        ul
          li Юрист в сфере здравохранения
          li Юрист по земельному праву
          li Юрист по защите прав потребителя
      .card-course__count
        span Всего 14 курсов

      .card-course__btn
        a(href='#'): button.btn.btn-default все курсы
mixin card-subcourse(data)
  .card-subcourse
    .card-subcourse__image
      a(href='#')
        picture
          source(srcset=data.img+".webp" type="image/webp" )
          img(src=data.img+".jpg")
    .card-subcourse__head
      .card-subcourse__title: a(href='#')= data.title
      .card-subcourse__date Начало 15 мая 2022г.
    .card-subcourse__main
      .card-subcourse__prop
        ul
          li
            span Кол-во часов
            span 540 часов
          li
            span Стоимость
            span от 18 600 р

      .card-subcourse__btn
        a(href='#'): button.btn.btn-default Записаться 


block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js") 
